{% extends 'base.html.twig' %}

{% block title %}Ocupacion{% endblock %}

{% block body %}
    <h1>Ocupacion</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Inscripcion</th>
                <td>{{ ocupacion.inscripcion }}</td>
            </tr>
            <tr>
                <th>HospitalCod</th>
                <td>{{ ocupacion.hospitalCod }}</td>
            </tr>
            <tr>
                <th>SalaCod</th>
                <td>{{ ocupacion.salaCod }}</td>
            </tr>
            <tr>
                <th>Cama</th>
                <td>{{ ocupacion.cama }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_ocupacion_index') }}">back to list</a>

    <a href="{{ path('app_ocupacion_edit', {'inscripcion': ocupacion.inscripcion}) }}">edit</a>

    {{ include('ocupacion/_delete_form.html.twig') }}
{% endblock %}
